{% extends 'layout.html' %}
{% load my_tags %}
{% block content %}
    <div>
        <div class="panel panel-default" style="margin: 15px">
            <div class="panel-heading">
                <h3 class="panel-title">跟进记录列表</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-sm btn-primary" style="margin-bottom: 5px" href="{% reverse_url request 'add_consult' %}">添加</a>
                <div>
                    <form action="" class="form-inline pull-right">
                        {#                    {% csrf_token %}#}
                        <input type="text" name=query class="form-control">
                        <button class="btn btn-sm btn-primary">搜索</button>
                    </form>
                </div>


                <form action="" class="form-inline" method="post">
                    {% csrf_token %}

                    <select name="action" id="" class="form-control">

                        <option value="multi_del">批量删除</option>
                    </select>
                    <button class="btn btn-sm  btn-primary">提交</button>

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>客户</th>
                            <th>跟进内容</th>
                            <th>状态</th>
                            <th>跟进人</th>
                            <th>日期</th>

                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for consult in all_consult %}
                            <tr>
                                <td><input type="checkbox" value="{{ consult.pk }}" name="ids"></td>
                                <td>{{ consult.customer }}</td>
                                <td>{{ consult.note }}</td>
                                <td>{{ consult.get_status_display }}</td>
                                <td>{{ consult.consultant }}</td>
                                <td>{{ consult.date }}</td>

                                <td><a href="{% reverse_url request 'edit_consult' consult.pk %}"><i
                                        class="fa fa-pencil-square-o"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

                <nav aria-label="...">
                    <ul class="pagination">
                        {{ page_html }}
                    </ul>
                </nav>

            </div>
        </div>

    </div>
{% endblock %}

<nav aria-label="...">
    <ul class="pagination">
        {{ page_html }}
    </ul>
</nav>